$txt-primary-white: #fff;
$txt-primary-black: #333;

$main-banner-opacity-hidden: 0;
$global-opacity-hidden: 0;

$a-hover-txt-color-white: #fff;
$a-hover-transition: all 0.8s;

$a-border-radius-base: 5px;
// $font-base: 1.4rem;