#header {
  height: 120px;
}
#header .header_wrap {
  position: fixed;
  background-color: #f6f5ef;
  border-top: 2px solid #383838;
  height: 120px;
  width: 100%;
  z-index: 10;
}
#header .header_wrap .util_nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  top: 10px;
  width: 100%;
}
#header .header_wrap .util_nav .util_nav_inner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  color: #555;
  gap: 25px;
  position: relative;
  left: 175px;
  letter-spacing: 0.2px;
}
#header .header_wrap .util_nav .util_nav_inner a:hover {
  text-decoration: underline;
}
#header .header_wrap .util_nav .util_nav_inner .search_form {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#header .header_wrap .util_nav .util_nav_inner .search_form .search_input_custom {
  display: inline-block;
  overflow: hidden;
  background: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  height: 35px;
  width: 0;
  transition: width 0.6s, border 0.2s;
}
#header .header_wrap .util_nav .util_nav_inner .search_form .search_input_custom.active {
  width: 150px;
  border: 1px solid #ccc;
}
#header .header_wrap .util_nav .util_nav_inner .search_form .visually_hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}
#header .header_wrap .util_nav .util_nav_inner .search_form .search_btn_box,
#header .header_wrap .util_nav .util_nav_inner .search_form .search_btn_box_two {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 35px;
  height: 35px;
  line-height: 42px;
  text-align: center;
  cursor: pointer;
}
#header .header_wrap .util_nav .util_nav_inner .search_form .search_btn_box_two {
  display: none;
}
#header .header_wrap .main_nav {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5%;
  padding: 0 5vw;
}
#header .header_wrap .main_nav .logo {
  position: relative;
  bottom: 20px;
}
#header .header_wrap .main_nav .nav_ul {
  display: flex;
  flex-direction: row;
  font-size: 1.4rem;
  color: #333;
}
#header .header_wrap .main_nav .list_hover a {
  display: block;
  height: 63px;
  padding: 20px;
}
#header .header_wrap .main_nav .list_hover a:hover {
  background-color: #2C2A29;
  color: #669900;
  text-decoration: underline;
}
#header .header_wrap .nav_sub_wrap {
  z-index: 5;
  overflow: hidden;
  position: absolute;
  top: 100%;
  width: 100%;
  background-color: #2C2A29;
  height: 0px;
  transition: height 0.5s ease;
}
#header .header_wrap .nav_sub_wrap .nav_sub_inner {
  padding: 4px 0 40px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 6%;
}
#header .header_wrap .nav_sub_wrap .nav_sub_inner .sub_ul {
  font-size: 1.3rem;
  position: relative;
  top: 20px;
  color: #999;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#header .header_wrap .nav_sub_wrap .nav_sub_inner .sub_ul .sub_ul_tit {
  margin-bottom: 10px;
  color: #fff;
  font-size: 1.5rem;
}
#header .header_wrap .nav_sub_wrap .nav_sub_inner .sub_ul .sub_ul_tit a:hover {
  text-decoration: underline;
}
#header .header_wrap .nav_sub_wrap .nav_sub_inner .sub_ul a:hover {
  text-decoration: underline;
}
#header .header_wrap .show_menu {
  height: 300px;
}
#header .tablet_header_wrap {
  display: none;
}

@media screen and (min-width: 971px) and (max-width: 1135px) {
  #header .header_wrap .main_nav {
    gap: 0;
    padding: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 970px) {
  .header_wrap {
    display: none;
  }
  #header {
    height: 69px;
  }
  #header .tablet_header_wrap {
    display: block;
    position: fixed;
    z-index: 10;
    background-color: #f6f5ef;
    height: 69px;
    width: 100%;
  }
  #header .tablet_header_wrap .tablet_header_inner {
    display: flex;
    flex-direction: row;
    height: 100%;
  }
  #header .tablet_header_wrap .tablet_header_inner .tablet_logo_box {
    margin-left: 15px;
    display: inline;
  }
  #header .tablet_header_wrap .tablet_header_inner .tablet_logo_box .tablet_main_logo {
    width: 45px;
  }
  #header .tablet_header_wrap .tablet_nav_wrap {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }
  #header .tablet_header_wrap .tablet_nav_wrap .tablet_nav_inner {
    margin-right: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
    z-index: 100;
  }
  #header .tablet_header_wrap .tablet_nav_wrap .tablet_nav_inner .nav_main_img {
    width: 25px;
  }
  #header .tablet_header_wrap .tablet_menu_bg {
    display: none;
    position: fixed;
    background: #000;
    opacity: 0.7;
    width: 100%;
    height: 100%;
  }
  #header .tablet_header_wrap .tablet_menu_wrap {
    color: #ffffff;
  }
  #header .tablet_header_wrap .tablet_menu_wrap .tablet_menu_inner {
    overflow: hidden;
    position: fixed;
    background-color: #111;
    height: 100%;
    width: 0;
    transition: width 0.4s;
    right: 0;
    z-index: 200;
  }
  #header .tablet_header_wrap .tablet_menu_wrap .tablet_menu_inner.width_open {
    width: 70%;
    overflow: visible;
    overflow-y: auto;
  }
  #header .tablet_header_wrap .tablet_menu_wrap .tablet_menu_inner .menu_bg_brown {
    width: 100%;
    background-color: #2d2926;
    border-bottom: 1px solid #222;
    height: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  #header .tablet_header_wrap .tablet_menu_wrap .tablet_menu_inner .menu_bg_brown .menu_close_box .close_img {
    transform: rotate(0deg);
    transition: transform 0.5s;
  }
  #header .tablet_header_wrap .tablet_menu_wrap .tablet_menu_inner .menu_bg_brown .menu_close_box .close_img.close_stew {
    transform: rotate(180deg);
  }
  #header .tablet_header_wrap .tablet_menu_wrap .tablet_menu_inner .menu_bg_brown .search_form_tablet {
    display: flex;
    flex-direction: row;
    gap: 15px;
  }
  #header .tablet_header_wrap .tablet_menu_wrap .tablet_menu_inner .menu_bg_brown .search_form_tablet .search_custom_tablet {
    border: 1px solid #e3e1d2;
    border-radius: 3px;
    height: 48px;
    width: 313px;
  }
  #header .tablet_header_wrap .tablet_menu_wrap .tablet_menu_inner .menu_bg_brown .search_form_tablet .visually_hidden_tablet {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
  }
  #header .tablet_header_wrap .tablet_menu_wrap .tablet_menu_inner .menu_bg_brown .search_form_tablet .tablet_search_btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #666;
    border-radius: 3px;
    color: #fff;
    font-size: 2.4rem;
    height: 50px;
    width: 125px;
  }
  #header .tablet_header_wrap .tablet_menu_wrap .tablet_menu_inner .tablet_nav_menu_wrap {
    width: 100%;
    font-size: 2.7rem;
    color: #fff;
  }
  #header .tablet_header_wrap .tablet_menu_wrap .tablet_menu_inner .tablet_nav_menu_wrap .tablet_menu_tit_01 {
    padding: 0 3vw;
    background-color: #2d2926;
    height: 76px;
    width: 100%;
    border-bottom: 1px solid #222;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  #header .tablet_header_wrap .tablet_menu_wrap .tablet_menu_inner .tablet_nav_menu_wrap .tablet_menu_tit_02 {
    padding: 0 3vw;
    height: 76px;
    width: 100%;
    border-bottom: 1px solid #222;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  #header .tablet_header_wrap .tablet_menu_wrap .tablet_menu_inner .tablet_nav_menu_wrap .tablet_menu_btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }
  #header .tablet_header_wrap .tablet_menu_wrap .tablet_menu_inner .tablet_nav_menu_wrap .nav_list_item {
    display: flex;
    flex-direction: column;
    background-color: #181818;
    padding: 0 3vw;
    width: 100%;
    overflow: hidden;
    font-size: 2.7rem;
    height: 0;
    opacity: 0;
    transition: all 0.4s;
  }
  #header .tablet_header_wrap .tablet_menu_wrap .tablet_menu_inner .tablet_nav_menu_wrap .nav_list_item.list_item_down {
    height: 76px;
    opacity: 1;
  }
  #header .tablet_header_wrap .tablet_menu_wrap .tablet_menu_inner .tablet_nav_menu_wrap .nav_list_item .list_item_group {
    display: none;
  }
  #header .tablet_header_wrap .tablet_menu_wrap .tablet_menu_inner .tablet_nav_menu_wrap .nav_list_item .list_item_btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    height: 76px;
    border-bottom: 1px solid #222;
  }
}
@media screen and (min-width: 531px) and (max-width: 767px) {
  .header_wrap {
    display: none;
  }
  #header {
    height: 69px;
  }
  #header .tablet_header_wrap {
    display: block;
    position: fixed;
    z-index: 10;
    background-color: #f6f5ef;
    height: 69px;
    width: 100%;
  }
  #header .tablet_header_wrap .tablet_header_inner {
    display: flex;
    flex-direction: row;
    height: 100%;
  }
  #header .tablet_header_wrap .tablet_header_inner .tablet_logo_box {
    margin-left: 15px;
    display: inline;
  }
  #header .tablet_header_wrap .tablet_header_inner .tablet_logo_box .tablet_main_logo {
    width: 45px;
  }
  #header .tablet_header_wrap .tablet_nav_wrap {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }
  #header .tablet_header_wrap .tablet_nav_wrap .tablet_nav_inner {
    margin-right: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
    z-index: 100;
  }
  #header .tablet_header_wrap .tablet_nav_wrap .tablet_nav_inner .nav_main_img {
    width: 25px;
  }
  #header .tablet_header_wrap .tablet_menu_bg {
    display: none;
    position: fixed;
    background: #000;
    opacity: 0.7;
    width: 100%;
    height: 100%;
  }
  #header .tablet_header_wrap .tablet_menu_wrap {
    color: #ffffff;
  }
  #header .tablet_header_wrap .tablet_menu_wrap .tablet_menu_inner {
    overflow: hidden;
    position: fixed;
    background-color: #111;
    height: 100%;
    width: 0;
    transition: width 0.4s;
    right: 0;
    z-index: 200;
  }
  #header .tablet_header_wrap .tablet_menu_wrap .tablet_menu_inner.width_open {
    width: 70%;
    overflow: visible;
    overflow-y: auto;
  }
  #header .tablet_header_wrap .tablet_menu_wrap .tablet_menu_inner .menu_bg_brown {
    padding: 0 3vw;
    width: 100%;
    background-color: #2d2926;
    border-bottom: 1px solid #222;
    height: 110px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10%;
  }
  #header .tablet_header_wrap .tablet_menu_wrap .tablet_menu_inner .menu_bg_brown .menu_close_box .close_img {
    width: 22px;
    transform: rotate(0deg);
    transition: transform 0.5s;
  }
  #header .tablet_header_wrap .tablet_menu_wrap .tablet_menu_inner .menu_bg_brown .menu_close_box .close_img.close_stew {
    transform: rotate(180deg);
  }
  #header .tablet_header_wrap .tablet_menu_wrap .tablet_menu_inner .menu_bg_brown .search_form_tablet {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
  #header .tablet_header_wrap .tablet_menu_wrap .tablet_menu_inner .menu_bg_brown .search_form_tablet .search_custom_tablet {
    border: 1px solid #e3e1d2;
    border-radius: 3px;
    height: 48px;
    width: 190px;
  }
  #header .tablet_header_wrap .tablet_menu_wrap .tablet_menu_inner .menu_bg_brown .search_form_tablet .visually_hidden_tablet {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
  }
  #header .tablet_header_wrap .tablet_menu_wrap .tablet_menu_inner .menu_bg_brown .search_form_tablet .tablet_search_btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #666;
    border-radius: 3px;
    color: #fff;
    font-size: 1.8rem;
    height: 50px;
    width: 95px;
  }
  #header .tablet_header_wrap .tablet_menu_wrap .tablet_menu_inner .tablet_nav_menu_wrap {
    width: 100%;
    font-size: 1.8rem;
    color: #fff;
  }
  #header .tablet_header_wrap .tablet_menu_wrap .tablet_menu_inner .tablet_nav_menu_wrap .tablet_menu_tit_01 {
    padding: 0 3vw;
    background-color: #2d2926;
    height: 76px;
    width: 100%;
    border-bottom: 1px solid #222;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  #header .tablet_header_wrap .tablet_menu_wrap .tablet_menu_inner .tablet_nav_menu_wrap .tablet_menu_tit_02 {
    padding: 0 3vw;
    height: 76px;
    width: 100%;
    border-bottom: 1px solid #222;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  #header .tablet_header_wrap .tablet_menu_wrap .tablet_menu_inner .tablet_nav_menu_wrap .tablet_menu_btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }
  #header .tablet_header_wrap .tablet_menu_wrap .tablet_menu_inner .tablet_nav_menu_wrap .nav_list_item {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #181818;
    padding: 0 3vw;
    width: 100%;
    overflow: hidden;
    font-size: 1.8rem;
    height: 0;
    opacity: 0;
    transition: all 0.4s;
  }
  #header .tablet_header_wrap .tablet_menu_wrap .tablet_menu_inner .tablet_nav_menu_wrap .nav_list_item.list_item_down {
    height: 76px;
    opacity: 1;
  }
  #header .tablet_header_wrap .tablet_menu_wrap .tablet_menu_inner .tablet_nav_menu_wrap .nav_list_item .list_item_group {
    display: none;
  }
  #header .tablet_header_wrap .tablet_menu_wrap .tablet_menu_inner .tablet_nav_menu_wrap .nav_list_item .list_item_btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    height: 76px;
    border-bottom: 1px solid #222;
  }
}
@media screen and (min-width: 421px) and (max-width: 530px) {
  .header_wrap {
    display: none;
  }
  #header {
    height: 69px;
  }
  #header .tablet_header_wrap {
    display: block;
    position: fixed;
    z-index: 10;
    background-color: #f6f5ef;
    height: 69px;
    width: 100%;
  }
  #header .tablet_header_wrap .tablet_header_inner {
    display: flex;
    flex-direction: row;
    height: 100%;
  }
  #header .tablet_header_wrap .tablet_header_inner .tablet_logo_box {
    margin-left: 15px;
    display: inline;
  }
  #header .tablet_header_wrap .tablet_header_inner .tablet_logo_box .tablet_main_logo {
    width: 45px;
  }
  #header .tablet_header_wrap .tablet_nav_wrap {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }
  #header .tablet_header_wrap .tablet_nav_wrap .tablet_nav_inner {
    margin-right: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
    z-index: 100;
  }
  #header .tablet_header_wrap .tablet_nav_wrap .tablet_nav_inner .nav_main_img {
    width: 25px;
  }
  #header .tablet_header_wrap .tablet_menu_bg {
    display: none;
    position: fixed;
    background: #000;
    opacity: 0.7;
    width: 100%;
    height: 100%;
  }
  #header .tablet_header_wrap .tablet_menu_wrap {
    color: #ffffff;
  }
  #header .tablet_header_wrap .tablet_menu_wrap .tablet_menu_inner {
    overflow: hidden;
    position: fixed;
    background-color: #111;
    height: 100%;
    width: 0;
    transition: width 0.4s;
    right: 0;
    z-index: 200;
  }
  #header .tablet_header_wrap .tablet_menu_wrap .tablet_menu_inner.width_open {
    width: 70%;
    overflow: visible;
    overflow-y: auto;
  }
  #header .tablet_header_wrap .tablet_menu_wrap .tablet_menu_inner .menu_bg_brown {
    padding: 0 3vw;
    width: 100%;
    background-color: #2d2926;
    border-bottom: 1px solid #222;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  #header .tablet_header_wrap .tablet_menu_wrap .tablet_menu_inner .menu_bg_brown .menu_close_box .close_img {
    width: 19px;
    transform: rotate(0deg);
    transition: transform 0.5s;
  }
  #header .tablet_header_wrap .tablet_menu_wrap .tablet_menu_inner .menu_bg_brown .menu_close_box .close_img.close_stew {
    transform: rotate(180deg);
  }
  #header .tablet_header_wrap .tablet_menu_wrap .tablet_menu_inner .menu_bg_brown .search_form_tablet {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
  #header .tablet_header_wrap .tablet_menu_wrap .tablet_menu_inner .menu_bg_brown .search_form_tablet .search_custom_tablet {
    border: 1px solid #e3e1d2;
    border-radius: 3px;
    height: 30px;
    width: 140px;
  }
  #header .tablet_header_wrap .tablet_menu_wrap .tablet_menu_inner .menu_bg_brown .search_form_tablet .visually_hidden_tablet {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
  }
  #header .tablet_header_wrap .tablet_menu_wrap .tablet_menu_inner .menu_bg_brown .search_form_tablet .tablet_search_btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #666;
    border-radius: 3px;
    color: #fff;
    font-size: 1.4rem;
    height: 30px;
    width: 70px;
  }
  #header .tablet_header_wrap .tablet_menu_wrap .tablet_menu_inner .tablet_nav_menu_wrap {
    width: 100%;
    font-size: 1.4rem;
    color: #fff;
  }
  #header .tablet_header_wrap .tablet_menu_wrap .tablet_menu_inner .tablet_nav_menu_wrap .tablet_menu_tit_01 {
    padding: 0 3vw;
    background-color: #2d2926;
    height: 60px;
    width: 100%;
    border-bottom: 1px solid #222;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  #header .tablet_header_wrap .tablet_menu_wrap .tablet_menu_inner .tablet_nav_menu_wrap .tablet_menu_tit_02 {
    padding: 0 3vw;
    height: 60px;
    width: 100%;
    border-bottom: 1px solid #222;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  #header .tablet_header_wrap .tablet_menu_wrap .tablet_menu_inner .tablet_nav_menu_wrap .tablet_menu_btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }
  #header .tablet_header_wrap .tablet_menu_wrap .tablet_menu_inner .tablet_nav_menu_wrap .nav_list_item {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #181818;
    padding: 0 3vw;
    width: 100%;
    overflow: hidden;
    font-size: 1.4rem;
    height: 0;
    opacity: 0;
    transition: all 0.4s;
  }
  #header .tablet_header_wrap .tablet_menu_wrap .tablet_menu_inner .tablet_nav_menu_wrap .nav_list_item.list_item_down {
    height: 60px;
    opacity: 1;
  }
  #header .tablet_header_wrap .tablet_menu_wrap .tablet_menu_inner .tablet_nav_menu_wrap .nav_list_item .list_item_group {
    display: none;
  }
  #header .tablet_header_wrap .tablet_menu_wrap .tablet_menu_inner .tablet_nav_menu_wrap .nav_list_item .list_item_btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    height: 76px;
    border-bottom: 1px solid #222;
  }
}
@media screen and (max-width: 420px) {
  .header_wrap {
    display: none;
  }
  #header {
    height: 69px;
  }
  #header .tablet_header_wrap {
    display: block;
    position: fixed;
    z-index: 10;
    background-color: #f6f5ef;
    height: 69px;
    width: 100%;
  }
  #header .tablet_header_wrap .tablet_header_inner {
    display: flex;
    flex-direction: row;
    height: 100%;
  }
  #header .tablet_header_wrap .tablet_header_inner .tablet_logo_box {
    margin-left: 15px;
    display: inline;
  }
  #header .tablet_header_wrap .tablet_header_inner .tablet_logo_box .tablet_main_logo {
    width: 45px;
  }
  #header .tablet_header_wrap .tablet_nav_wrap {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }
  #header .tablet_header_wrap .tablet_nav_wrap .tablet_nav_inner {
    margin-right: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
    z-index: 100;
  }
  #header .tablet_header_wrap .tablet_nav_wrap .tablet_nav_inner .nav_main_img {
    width: 25px;
  }
  #header .tablet_header_wrap .tablet_menu_bg {
    display: none;
    position: fixed;
    background: #000;
    opacity: 0.7;
    width: 100%;
    height: 100%;
  }
  #header .tablet_header_wrap .tablet_menu_wrap {
    color: #ffffff;
  }
  #header .tablet_header_wrap .tablet_menu_wrap .tablet_menu_inner {
    overflow: hidden;
    position: fixed;
    background-color: #111;
    height: 100%;
    width: 0;
    transition: width 0.4s;
    right: 0;
    z-index: 200;
  }
  #header .tablet_header_wrap .tablet_menu_wrap .tablet_menu_inner.width_open {
    width: 70%;
    overflow: visible;
    overflow-y: auto;
  }
  #header .tablet_header_wrap .tablet_menu_wrap .tablet_menu_inner .menu_bg_brown {
    width: 100%;
    background-color: #2d2926;
    border-bottom: 1px solid #222;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  #header .tablet_header_wrap .tablet_menu_wrap .tablet_menu_inner .menu_bg_brown .menu_close_box .close_img {
    width: 15px;
    transform: rotate(0deg);
    transition: transform 0.5s;
  }
  #header .tablet_header_wrap .tablet_menu_wrap .tablet_menu_inner .menu_bg_brown .menu_close_box .close_img.close_stew {
    transform: rotate(180deg);
  }
  #header .tablet_header_wrap .tablet_menu_wrap .tablet_menu_inner .menu_bg_brown .search_form_tablet {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 7px;
  }
  #header .tablet_header_wrap .tablet_menu_wrap .tablet_menu_inner .menu_bg_brown .search_form_tablet .search_custom_tablet {
    border: 1px solid #e3e1d2;
    border-radius: 3px;
    height: 30px;
    width: 120px;
  }
  #header .tablet_header_wrap .tablet_menu_wrap .tablet_menu_inner .menu_bg_brown .search_form_tablet .visually_hidden_tablet {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
  }
  #header .tablet_header_wrap .tablet_menu_wrap .tablet_menu_inner .menu_bg_brown .search_form_tablet .tablet_search_btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #666;
    border-radius: 3px;
    color: #fff;
    font-size: 1.4rem;
    height: 30px;
    width: 70px;
  }
  #header .tablet_header_wrap .tablet_menu_wrap .tablet_menu_inner .tablet_nav_menu_wrap {
    width: 100%;
    font-size: 1.4rem;
    color: #fff;
  }
  #header .tablet_header_wrap .tablet_menu_wrap .tablet_menu_inner .tablet_nav_menu_wrap .tablet_menu_tit_01 {
    padding: 0 3vw;
    background-color: #2d2926;
    height: 60px;
    width: 100%;
    border-bottom: 1px solid #222;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  #header .tablet_header_wrap .tablet_menu_wrap .tablet_menu_inner .tablet_nav_menu_wrap .tablet_menu_tit_02 {
    padding: 0 3vw;
    height: 60px;
    width: 100%;
    border-bottom: 1px solid #222;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  #header .tablet_header_wrap .tablet_menu_wrap .tablet_menu_inner .tablet_nav_menu_wrap .tablet_menu_btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }
  #header .tablet_header_wrap .tablet_menu_wrap .tablet_menu_inner .tablet_nav_menu_wrap .tablet_menu_btn img {
    width: 16px;
  }
  #header .tablet_header_wrap .tablet_menu_wrap .tablet_menu_inner .tablet_nav_menu_wrap .nav_list_item {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #181818;
    padding: 0 3vw;
    width: 100%;
    overflow: hidden;
    font-size: 1.3rem;
    height: 0;
    opacity: 0;
    transition: all 0.4s;
  }
  #header .tablet_header_wrap .tablet_menu_wrap .tablet_menu_inner .tablet_nav_menu_wrap .nav_list_item.list_item_down {
    height: 60px;
    opacity: 1;
  }
  #header .tablet_header_wrap .tablet_menu_wrap .tablet_menu_inner .tablet_nav_menu_wrap .nav_list_item .list_item_group {
    display: none;
  }
  #header .tablet_header_wrap .tablet_menu_wrap .tablet_menu_inner .tablet_nav_menu_wrap .nav_list_item .list_item_btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    height: 76px;
    border-bottom: 1px solid #222;
  }
}
@media screen and (max-width: 350px) {
  #header .tablet_header_wrap .tablet_nav_wrap .tablet_nav_inner {
    margin-right: 13px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
  }
  #header .tablet_header_wrap .tablet_menu_wrap .tablet_menu_inner .tablet_nav_menu_wrap {
    width: 100%;
    font-size: 1.4rem;
    color: #fff;
  }
}/*# sourceMappingURL=header.css.map */